 <!doctype html>
<html ng-app="kkcounter">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" type="text/css" href="app.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <title>KKCounter with angularjs</title>    
  </head>
  <body>
    <div class="container" ng-controller="MainCtrl">
      <h1>Calorie Counter</h1>  
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" 
            name="srch-term" id="srch-term"
            class="form-control" 
            placeholder="What have you done????"  
            ng-model="text" 
            ng-keypress="searching($event)"
            ng-trim='true'
            ng-disabled = 'isSearching'
            popover-placement="bottom" 
            popover="{{popOverMessage}}"  >
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="search()"><i class="glyphicon glyphicon-{{icon}}"></i></button>
          </div>
        </div>
      </form>
      <hr>
    </div>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
  <script type="text/javascript" src="js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
  <script type="text/javascript" src="app.js"></script>  
  </body>
</html>  